<header class="header">
  <div class="header-container">
    <img class="header__logo" src="https://bakery-app-pi.vercel.app/assets/logo-light_b.f8f2e82f.png" alt="logo">

    <nav class="nav">
      <ul class="links-container">
        <li class="links-container__item"><a href="#">Inicio</a></li>
        <li class="links-container__item"><a href="#">Productos</a></li>
        <li class="links-container__item"><a href="#">Contacto</a></li>
        <app-cart-widget></app-cart-widget>
      </ul>
    </nav>
  </div>
</header>
